.viewbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 5px;
}

.viewposts {
  border: solid #2b2b2b 2px;
  border-radius: 3px;
  padding: 5px;
  width: 500px;
}

a {
  text-decoration: none;
}

a a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.singlepost {
  border: solid #2b2b2b 2px;
  padding: 10px;
}

.small {
  font-size: 12px;
}
