{% extends "layout.html" %}
{% block content %}
<link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='form.css') }}"
    />

    <p>Rant.Space</p>


<!-- <form action="#">
    <textarea name="rantspace" id="textarea" cols="30" rows="10"></textarea>
    <br>
    <input class="btn btn-primary" value="Submit" type="submit"> 
</form> -->

<form action="" method="POST">
    {{ form.hidden_tag() }}

    {{ form.content.label(class="hidden") }}
    {{ form.content(id="textarea") }}
    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>


{% endblock content %}